/* Overlay เต็มจอ */
.route-loading-overlay {
  position: fixed;
  inset: 0;
  display: grid;
  place-items: center;
  background: #ffffff;  
  z-index: 9999;
}


/* From Uiverse.io by Satwinder04 */
.loader3 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bars {
  width: 10px;
  height: 20px;
  margin: 0 2px;
  border-radius: 4px;
  animation: loader3 3s ease-in-out infinite;
}

/* ปรับสีได้ตรงนี้ */
.bar1,
.bar2,
.bar3,
.bar4,
.bar5,
.bar6,
.bar7,
.bar8,
.bar9,
.bar10 {
  background-color: #d11a2a;
}

.bar1 { animation-delay: -0.8s; }
.bar2 { animation-delay: -0.7s; }
.bar3 { animation-delay: -0.6s; }
.bar4 { animation-delay: -0.5s; }
.bar5 { animation-delay: -0.4s; }
.bar6 { animation-delay: -0.3s; }
.bar7 { animation-delay: -0.2s; }
.bar8 { animation-delay: -0.1s; }
.bar9 { animation-delay: 0s; }
.bar10 { animation-delay: 0.1s; }

@keyframes loader3 {
  0% {
    transform: scale(1);
  }
  20% {
    transform: scale(1, 2.32);
  }
  40% {
    transform: scale(1);
  }
}